.cell-container {
  width: 160px;
  height: 160px;
  display: flex;
  flex-flow: row wrap;
  border: 2px black solid;
}

.cell {
  flex-grow: 1;
  flex-basis: 30%;
  border: 1px black solid;
  display: inline-flex;
  align-items: center;
  text-align: center;
}

.cell h2 {
  width: 100%;
  cursor: pointer;
}

.last {
  color: green;
}
